<div class="container pt-3">
  <div class="row">
    <div class="col-sm-8">
      <div class="mb-3">
        <div class="input-group">
          <input type="date" aria-label="Start" placeholder="Start" class="form-control">
          <input type="date" aria-label="End" placeholder="Start" class="form-control">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="mb-3">
        <app-button type="button">Export</app-button>
      </div>
    </div>
  </div>
  <app-list-transactions></app-list-transactions>
</div>