{
  "printWidth": 200,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "parser": "typescript",
  "semi": true,
  "requirePragma": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "tabWidth": 2
}
