<div class="card shadow-sm bg-white">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-start">
      <h5 class="m-0 card-title font-weight-normal">Emails</h5>
      <button class="btn btn-sm" [ngClass]="button" data-toggle="modal" data-target="#addEmailModal">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
    <ng-container *ngIf="primaryEmail">
      <div class="mb-1">
        <app-badge>Primary</app-badge>
        <p class="m-0">{{ primaryEmail }}</p>
      </div>
    </ng-container>
    <ng-container *ngFor="let email of emails">
      <div class="mb-1">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ email }}</span>
          <div>
            <button class="btn btn-sm mr-1" [ngClass]="button" (click)="updatePrimaryEmail(email)">
              <fa-icon [icon]="faStar"></fa-icon>
            </button>
            <button class="btn btn-sm" [ngClass]="button" (click)="deleteEmail(email)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<app-modal-emails-add (onEmailsChanged)="updateEmails($event)"></app-modal-emails-add>