<div [id]="id" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-animation="true" data-autohide="true" data-delay="2000">
  <div class="toast-header">
    <!-- <span class="d-inline-block bg-primary"></span> -->
    <strong class="mr-auto">X Bank</strong>
    <!-- <small class="text-muted">just now</small> -->
    <!-- <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="toast-body">
    {{ message }}
  </div>
</div>