<div class="container pt-3">
  <div class="row">
    <div class="col-sm-6">
      <app-card-balance></app-card-balance>
    </div>
    <div class="col-sm-6">
      <div class="mb-3">
        <app-link routerLink="/transactions">Recent Activities</app-link>
      </div>
      <div class="mb-3">
        <app-list-transactions></app-list-transactions>
      </div>
      <div class="mb-3">
        <app-link routerLink="/transactions">View All Activities</app-link>
      </div>
    </div>
  </div>
</div>