<div class="content-height d-flex align-items-center" [ngClass]="backgroundCover">
  <div class="container text-white text-center">
    <h1>X Bank</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel molestie tortor. Morbi et pellentesque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla.</p>
    <p>
      <a routerLink="/sign-up" class="btn btn-lg btn-outline-light">Sign Up</a>
    </p>
  </div>
</div>
<div class="min-content-height d-flex align-items-center">
  <div class="container pt-3 pb-3">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">Header</h1>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <fa-icon [icon]="faDollarSign" style="font-size: 3rem;"></fa-icon>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit.</p>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <fa-icon [icon]="faRedo" style="font-size: 3rem;"></fa-icon>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit.</p>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <fa-icon [icon]="faCreditCard" style="font-size: 3rem;"></fa-icon>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit.</p>
      </div>
      <div class="col-sm-6 col-md-3 text-center">
        <fa-icon [icon]="faShieldAlt" style="font-size: 3rem;"></fa-icon>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit.</p>
      </div>
    </div>
  </div>
</div>