<app-card-auth title="Forget Password?">
  <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <div class="form-group">
      <input type="email" name="email" placeholder="Email Address" class="form-control" formControlName="email" required>
    </div>
    <app-button type="submit" [disabled]="loading || forgetForm.invalid">
      <ng-container *ngIf="loading">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Loading...</span>
      </ng-container>
      <ng-container *ngIf="!loading">
        Send Request
      </ng-container>
    </app-button>
  </form>
</app-card-auth>